In [0]:
import pandas as pd

In [0]:
dataset = pd.read_csv('bill_authentication.csv')

In [0]:
dataset.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [0]:
x = dataset.drop('Class',axis = 1)

In [0]:
y =dataset["Class"]

In [0]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [0]:
from sklearn.tree import DecisionTreeClassifier

In [0]:
classifier = DecisionTreeClassifier()
classifier.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [0]:
y_pred = classifier.predict(x_test)

In [0]:
from sklearn.metrics import confusion_matrix, classification_report

In [0]:
print(confusion_matrix(y_test, y_pred))

[[147   2]
 [  3 123]]

In [0]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      0.99      0.98       149
           1       0.98      0.98      0.98       126

   micro avg       0.98      0.98      0.98       275
   macro avg       0.98      0.98      0.98       275
weighted avg       0.98      0.98      0.98       275

In [0]:
import pandas as pd

In [0]:
dataset = pd.read_csv("petrol_consumption.csv")

In [4]:
dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [0]:
x = dataset.drop("Petrol_Consumption", axis=1)

In [0]:
y = dataset["Petrol_Consumption"]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2)

In [0]:
from sklearn.tree import DecisionTreeRegressor

In [14]:
regressor = DecisionTreeRegressor()
regressor.fit(x_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [0]:
pred = regressor.predict(x_test)

In [0]:
from sklearn import metrics

In [18]:
print(metrics.mean_absolute_error(y_test,pred))

55.8

In [0]:
data  = pd.DataFrame({'Given':y_test, 'Predicted':pred})

In [20]:
data

    Given  Predicted
22    464      460.0
46    610      632.0
3     414      467.0
6     344      471.0
30    571      714.0
14    566      635.0
34    487      534.0
0     541      534.0
31    554      628.0
9     498      510.0